body {
	background-color: #3c3836;
}

#calculator {
	display: block;
	background-color: #d5c4a1;
	width: 20rem;
	height: 24rem;
	padding: 1rem;
	margin: auto;
	margin-top: 6rem;
}

#display {
	display: grid;
}

#screenResult,
#screen {
	margin: auto;
	width: 12em;
	height: 1em;
	padding: 0.5em 1em;
	border: solid 2px #d5c4a1;
	border-radius: 10px;
	color: #d5c4a1;
	background-color: #3c3836;
	text-align: end;
}

#btns {
	display: grid;
	margin-top: 2em;
	height: 17em;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-gap: 0.5em;
	grid-template-areas: "ac divide multiply erase" "n7 n8 n9 equal" "n4 n5 n6 subtract" "n1 n2 n3 add" "n0 n0 dot add";
}

.btn {
	padding: 10px;
	border: solid 1px #d5c4a1;
	border-radius: 10px;
	background-color: #504945;
	color: #d5c4a1;
}
#ac {
	grid-area: ac;
}
#divide {
	grid-area: divide;
}
#multiply {
	grid-area: multiply;
}
#erase {
	grid-area: erase;
}
#num7 {
	grid-area: n7;
}
#num8 {
	grid-area: n8;
}
#num9 {
	grid-area: n9;
}
#equal {
	grid-area: equal;
}
#num4 {
	grid-area: n4;
}
#num5 {
	grid-area: n5;
}
#num6 {
	grid-area: n6;
}
#subtract {
	grid-area: subtract;
}
#num1 {
	grid-area: n1;
}
#num2 {
	grid-area: n2;
}
#num3 {
	grid-area: n3;
}
#add {
	grid-area: add;
}
#num0 {
	grid-area: n0;
}
#dot {
	grid-area: dot;
}
